.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: auto;
    
    height: 1024px;
    width: 1440px;
    background: url('../../assets/img/background/shop.png') center / contain no-repeat;
    image-rendering: pixelated;

    &-title {
        position: absolute;
        top: 0;
        margin-top: 50px;
        color: #fff;    
        font-family: August Cyr;
        font-weight: 400;
        font-style: Bold;
        font-size: 35px;
        line-height: 100%;
        text-align: right;

    }

    &-person {
        width:268px; 
        height:383px; 
        max-width: 100%;

        background-image: url('../../assets/img/person2.png');
        background-size: 100%; 
        background-repeat: no-repeat;
        image-rendering: pixelated;

        position: fixed;
        bottom: 0;
        left: 25%; 
    }

    &-exitButton{
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 23%; 

        width: 50px;
        height: 50px;
        max-width: 100%;
        transform: rotate(180deg);
            
        background-image: url('../../assets/img/arrow/arrow.png');
        background-repeat: no-repeat;
        background-size: 100%; 
    }
    
    .button{
        border-radius: 0 !important;
        background: transparent !important;

        width: 35px;
        height: 35px;

        border: 2px solid #00000000;
        padding: 25px; 

    }



}