@font-face {
    font-family: 'Cezanne';
    src: url('../../assets/fonts/p22-cezanne-pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ST-Brigantina-free';
    src: url('../../assets/fonts/ST-Brigantina-free.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    color: #fff;
    position: relative;
    overflow: hidden;

    &-background {
        position: fixed;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        background: url('../../assets/img/background/city.png') center center / cover no-repeat;
        z-index: -2;
        gap: 10px;
    }


    &-title {
        font-family: 'ST-Brigantina-free', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 72px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: center;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        user-select: none;
        margin: 0;
        padding: 0;
        gap: 10px; 
    }

    &-button {
        font-family: 'ST-Brigantina-free', serif;
        position: fixed;  
        bottom: 20px;           
        right: 20px;            
        width: 100px;            
        height: 100px;           
        background: url('../../assets/img/arrow/arrow.png') center center / contain no-repeat;
        border: none;
        cursor: pointer;
        z-index: 10;
        text-indent: -9999px;

        &:hover {
            transform: scale(1.05);
        }
    }
}